@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 box-border text-slate-50 text-xl bg-default bg-center bg-cover 2xl:bg-no-repeat;
  }
  #wrapper {
    @apply flex flex-col h-screen;
  }
  .loading-icon {
    @apply relative top-[-150px] w-20 h-20 fill-current animate-spin;
  }
  .box-style {
    @apply bg-slate-400 bg-opacity-50 rounded-lg border-2 border-slate-50 border-opacity-0;
  }
  .transition-effect {
    @apply transition duration-200 ease-in-out;
  }
  .hover-effect {
    @apply hover:border-slate-50;
  }
  .active-effect {
    @apply active:scale-95;
  }
  #header {
    @apply w-full flex justify-center items-center;
  }
  #header-title {
    @apply flex-grow text-4xl font-bold;
  }
  #header-content {
    @apply flex-grow max-w-[1600px] flex justify-between items-center mt-8 mx-16 px-6;
  }
  #search-form {
    @apply flex items-center m-2 px-2 box-style border
    hover-effect transition-effect;
  }
  .search-icon {
    @apply min-w-6 min-h-6 fill-current;
  }
  .search-input {
    @apply min-w-96 p-2 bg-slate-100 bg-opacity-0 rounded-xl text-slate-50 focus:outline-none focus:bg-opacity-0;
  }
  .search-input::placeholder {
    @apply text-slate-50;
  }
  #change-display-unit {
    @apply w-36 flex justify-center items-center p-2 box-style hover-effect
    active:border-slate-700 active-effect transition-effect;
  }
  #content {
    @apply flex-grow;
  }
  .weather-cummary-container {
    @apply w-full flex flex-col items-center mt-10 animate-emerge-up;
  }
  .weather-summary-content {
    @apply min-w-[400px] flex flex-col justify-center items-center py-6 box-style;
  }
  .hours-list-container {
    @apply flex justify-center items-center my-8 mx-16;
  }
  .hours-list-content {
    @apply max-w-[1000px] flex justify-center items-center py-12 px-6 box-style
    2xl:max-w-[1600px];
  }
  .hours-list {
    @apply flex flex-wrap justify-center;
  }
  .arrow-icon {
    @apply w-14 fill-current hover:translate-x-2 active-effect transition-effect;
  }
  .arrow-icon-left {
    @apply hover:translate-x-[-8px];
  }
  .arrow-icon-right {
    @apply hover:translate-x-[8px];
  }
  .change-or-rain-box {
    @apply h-6 text-blue-600;
  }
  .future-forecast-and-todays-weather-container {
    @apply w-full flex flex-col 2xl:flex-row 2xl:justify-center px-16 mb-0;
  }
  .future-forecast-container {
    @apply flex-grow flex justify-center items-center
    2xl:max-w-[760px] 2xl:mr-[20px] 2xl:items-start animate-emerge-left;
  }
  .future-forecast-content {
    @apply flex-grow h-[450px] max-w-[1000px] px-8 flex justify-center items-center box-style;
  }
  .future-forecast-list {
    @apply flex-grow max-w-[1000px] flex flex-col justify-center items-center;
  }
  .future-forecast-list-row {
    @apply w-full flex justify-around items-center border-b border-slate-300 last:border-none;
  }
  .header-row {
    @apply future-forecast-list-row mb-6 border-none;
  }
  .future-forecast-list-row-items {
    @apply flex-grow flex justify-around items-center;
  }
  .future-forecast-list-item {
    @apply w-full h-20 flex justify-center items-center;
  }
  .todays-weather-container {
    @apply flex-grow flex justify-center items-center 2xl:max-w-[760px] 2xl:ml-[20px] animate-emerge-right;
  }
  .todays-weather-content {
    @apply flex-grow h-[450px] max-w-[1000px] flex justify-center items-center box-style;
  }
  .weather-info-row {
    @apply flex-grow flex justify-around items-center mx-8 my-4 pb-2 border-b border-slate-300 last:border-none;
  }
  #footer {
    @apply flex justify-center items-center;
  }
  .footer-content {
    @apply flex justify-center items-center box-style py-1 px-2 mb-2;
  }
  .footer-text {
    @apply pr-2;
  }
  .github-icon {
    @apply w-6 fill-current text-slate-50 hover:animate-rotate-and-scale;
  }
}
